/data/
*/__pycache__/*
*/.idea/*
/run_configs/result*
/master-thesis-reconstruction/utilities/__pycache__
/utilities/__pycache__
*.ply
*.gz
*.pcd
*.e57
master-thesis-reconstruction/data/dummy/stanford-dragon/dragon_recon/README
/master-thesis-segmentation/regionGrowingOctree/__pycache__
/master-thesis-segmentation/regionGrowingOctree/__pycache__
*.npz
master-thesis-reconstruction/run_configs/results.csv
/master-thesis-reconstruction/data
/master-thesis-segmentation/pointnetexternal/data
/master-thesis-reconstruction/run_configs
