/data/
*/__pycache__/*
*/.idea/*
/run_configs/result*
/master-thesis-reconstruction/utilities/__pycache__
/utilities/__pycache__
*.ply
*.gz
*.pcd
*.e57
master-thesis-reconstruction/data/dummy/stanford-dragon/dragon_recon/README
/master-thesis-segmentation/regionGrowingOctree/__pycache__
/master-thesis-segmentation/regionGrowingOctree/__pycache__
*.npz
master-thesis-reconstruction/run_configs/results.csv
/master-thesis-reconstruction/data
/master-thesis-segmentation/pointnetexternal/data
/master-thesis-reconstruction/run_configs
*.pyc
*.pyc
/master-thesis-segmentation/pointnetexternal/models/__pycache__
/master-thesis-segmentation/results
master-thesis-segmentation/pointnetexternal/models/__pycache__/pointnet2_sem_seg.cpython-310.pyc
master-thesis-segmentation/regionGrowingOctree/__pycache__/RegionGrowingOctree.cpython-310.pyc
master-thesis-segmentation/regionGrowingOctree/__pycache__/RegionGrowingOctreeNode.cpython-310.pyc
/master-thesis-segmentation/data
/master-thesis-reconstruction/run_configs/office-alpha-shapes-4
master-thesis-reconstruction/run_configs/office-alpha-shapes-2/results.csv
master-thesis-reconstruction/run_configs/office-alpha-shapes-3/config.json
master-thesis-reconstruction/run_configs/office-alpha-shapes-3/results.csv
master-thesis-reconstruction/run_configs/office-alpha-shapes-4/config.json
master-thesis-reconstruction/run_configs/office-alpha-shapes-4/results.csv
/master-thesis-reconstruction/build
/master-thesis-reconstruction/dist
